.test {
    background: #414757;
    height: 60px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;


}

.test:hover{
    background: #632ce4;
    cursor: pointer;

}