.test {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row;
    z-index: auto;
flex-wrap: wrap;
    border: 2px solid white;

}

.test:hover{
    background: #632ce4;
    cursor: pointer;
    overflow:hidden;

}