.test {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row;
    z-index: auto;

    border: 2px solid white;

}

.test:hover{
    background: #632ce4;
    cursor: pointer;

}