.test {
    color: #fff;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.test:hover{
    background: #632ce4;
    cursor: pointer;

}