* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home, .reports, .products, .team {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


nav {
  background: #000000d5;
  width: 430px;
  height: 90vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 350ms;
   z-index: 10;
  overflow-y: scroll;
   top: 0;
  } 

nav.active { 
     left: 0; 
   transition: 350ms; 
 }

 .dropdown {
  background: #000000d5;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;

  
}

.dropdown:hover {
  background: #632ce4;
  cursor: pointer;
}